## Practical No.7: Write a Pandas program to implement following operation
### • to create a dataframe from a dictionary and display it

In [ ]:
# Name : Kishan B. Lashkari
# Enrollment : 216270307002
import pandas as pd

dicti = {
    'Name' : ['Raj', 'Kishan', 'Darshan', 'Divyesh'],
    'Age' : [20, 17, 18, 19],
    'City' : ['Bhavnagar', 'Porbandar', 'Rajkot', 'Vadodra'],
}
print("Dictionary :\n",dicti)

df = pd.DataFrame(dicti)
print("\nDataFrame :\n",df)

### • to sort the DataFrame first by 'name' in ascending order

In [ ]:
# Name : Kishan B. Lashkari
# Enrollment : 216270307002

import pandas as pd

df = pd.DataFrame(dicti)

print("Before sorting:\n", df)

print("\nAfter sorting:\n", df.sort_values(by='Name',ascending=True))

### • to delete the one specific column from the DataFrame

In [ ]:
# Name : Kishan B. Lashkari
# Enrollment : 216270307002

import pandas as pd

df = pd.DataFrame(dicti)

print("Before Delete Column : \n",df)

print("After Delete Column :\n",df.drop(['City'], axis=1))

### • to write a DataFrame to CSV file using tab separator

In [ ]:
# Name : Kishan B. Lashkari
# Enrollment : 216270307002

import pandas as pd
# import numpy as np

df = pd.DataFrame(dicti)

print("Original DataFrame :\n",df)

df.to_csv('Students.csv', sep ='\t')

new_df = pd.read_csv('Students.csv')

print('\nData from Students.csv :\n',new_df)